.App {
  text-align: center;
}

div > h3{
  border: 2px solid red;
  margin: 10px auto;
  font-family: monospace;
  font-size: 15px;
  padding: 20px 10px;
  display: block;
  width: 300px;
}



























